.App {
  font-family: Arial, sans-serif;
  margin: 20px;
}

label {
  font-size: 18px;
  margin-right: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 18px;
}

h1 {
  color: #333;
}

h4 {
  color: #666;
}
.app-container {
  background-color: #eefaf9; /* New background color */
}

